@model List<Blog>
<partial name="_Notification" />
<div class="page-header">
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <span class="breadcrumb-item active">Danh sách bài viết</span>
        </nav>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row m-b-30">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <i class="prefix-icon anticon anticon-search opacity-04"></i>
                            <input id="keyword" name="keyword" type="text" class="form-control" placeholder="Tìm kiếm bài viết">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="input-affix m-v-10">
                            <select class="custom-select" id="txtCatID" name="txtCatID" style="min-width: 200px;" asp-items="ViewBag.DanhMuc">
                                <option selected>Chọn danh mục</option>
                                <option value="0">Chọn tất cả</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 text-right">
                <a class="btn btn-primary" asp-area="Admin" asp-controller="Blog" asp-action="Upsert"><i class="anticon anticon-plus-circle m-r-5"></i><span>Tạo bài viết</span></a>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-hover e-commerce-table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Ảnh đại diện</th>
                        <th>Tiêu đề bài viết</th>
                        <th>Mô tả ngắn</th>
                        <th>Ngày tạo</th>
                        <th>Tác giả</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="records_table">
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.Id
                                </td>
                                <td>
                                    <img class="img-fluid rounded" src="@item.ImageUrl1" style="max-width: 60px" alt="">
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <h6 class="m-b-0 m-l-10">@item.Title</h6>
                                    </div>
                                </td>
                                <td>@item.Summary</td>
                                <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                <td>@item.ApplicationUser.Name</td>
                                <td>
                                    <a class="btn btn-secondary btn-tone m-r-5" asp-area="Admin" asp-controller="Blog" asp-action="Upsert" asp-route-id="@item.Id">Sửa</a>
                                    <a class="btn btn-success btn-tone m-r-5" asp-area="Admin" asp-controller="Blog" asp-action="Delete" asp-route-id="@item.Id">Xóa</a>

                                </td>
                            </tr>
                        }
                    }


                </tbody>
            </table>
            <div aria-label="Page navigation example">
                <ul class="pagination">
                    <pager class="pager-container" list="@Model" asp-area="Admin" asp-controller="Product" asp-route-CatID="@ViewBag.CurrentCateID" asp-action="Index" />
                </ul>
            </div>
        </div>
    </div>
</div>