@model OrderVM
@{
    ViewData["Title"] = "Thông tin đơn hàng #";
}


<div class="page-header">
    <h2 class="header-title"></h2>
    <div class="header-sub-title">
        <nav class="breadcrumb breadcrumb-dash">
            <a asp-area="Admin" asp-controller="AdminOrders" asp-action="Home" class="breadcrumb-item"><i class="anticon anticon-home m-r-5"></i>Trang chủ</a>
            <a class="breadcrumb-item" asp-area="Admin" asp-controller="AdminOrders" asp-action="Index">Danh sách đơn hàng</a>
            <span class="breadcrumb-item active">Chi tiết đơn hàng</span>
        </nav>
    </div>
</div>
<div class="container">
    <div class="card">
        <div class="card-body">
            <div id="invoice" class="p-h-30">
                <div class="row m-t-20 lh-2">
                    <div class="col-sm-6">
                        <h3 class="p-l-10 m-t-10">THÔNG TIN ĐƠN HÀNG:</h3>
                        <address class="p-l-10 m-t-10">
                            <span class="font-weight-semibold text-dark">Họ và Tên: @Model.OrderHeader.Name</span><br>
                            <span>Địa chỉ: @Model.OrderHeader.StreetAddress</span><br>
                            <span>Số điện thoại: @Model.OrderHeader.PhoneNumber</span>
                        </address>
                    </div>
                    <div class="col-sm-6">
                        <div class="m-t-80">
                            <div class="text-dark text-uppercase d-inline-block">
                                <span class="font-weight-semibold text-dark">Mã đơn hàng :</span>
                            </div>
                            <div class="float-right">#@Model.OrderHeader.Id</div>
                        </div>
                        <div class="text-dark text-uppercase d-inline-block">
                            <span class="font-weight-semibold text-dark">Ngày đặt hàng :</span>
                        </div>
                        <div class="float-right">@Model.OrderHeader.OrderDate</div>
                        <br />
                        <div class="text-dark text-uppercase d-inline-block">
                            <span class="font-weight-semibold text-dark">Ngày Ship hàng :</span>
                        </div>
                        <div class="float-right">@Model.OrderHeader.ShippingDate</div>
                        <br />
                        <div class="text-dark text-uppercase d-inline-block">
                            <span class="font-weight-semibold text-dark">Trạng thái đơn hàng :</span>
                        </div>
                        <div class="float-right">@Model.OrderHeader.OrderStatus</div>
                    </div>
                </div>
                <div class="m-t-20">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Items</th>
                                    <th>Quantity</th>
                                    <th>Price</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.OrderDetail != null && Model.OrderDetail.Count() > 0)
                                {
                                    int i = 1;
                                    foreach (var item in Model.OrderDetail)
                                    {
                                        string url = $"/{item.Product.Id}.html";
                                        <tr>
                                            <th>@i</th>
                                            <td><a target="_blank" href="@url">@item.Product.Title</a></td>
                                            <td>@item.Count</td>
                                            <td>@item.Price.ToString("#,##0") VND</td>
                                            <td>@((item.Count * item.Price).ToString("#,##0")) VND</td>
                                        </tr>
                                        i++;
                                    }
                                }


                            </tbody>
                        </table>
                    </div>
                    <div class="row m-t-30 lh-1-8">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <form asp-controller="Order" asp-action="Delete" asp-route-orderId="@Model.OrderHeader.Id" method="post">
                                        <input type="hidden" asp-for="OrderHeader.Id" />
                                        <button type="submit" class="btn btn-danger">Xác nhận xóa đơn hàng</button>
                                    </form>
                                </div>
                                <div>
                                    <h3><span class="font-weight-semibold text-dark">Tổng tiền :</span>@Model.OrderHeader.OrderTotal.ToString("#,##0") VND</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

