@model ShoppingCart
<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Chi tiết sản phẩm</h4>
                    <div class="breadcrumb__links">
                        <a asp-area="Customer" asp-controller="Home" asp-action="Index">Trang Chủ</a>
                        <a asp-area="Customer" asp-controller="Home" asp-action="Shop">Cửa Hàng</a>
                        <span>Chi tiết sản phẩm</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shop Details Section Begin -->
<form method="post">
<input hidden asp-for="ProductId" />
<section class="shop-details">
    <div class="product__details__pic bg-white pb-0 mb-0">
        <div class="container">
                <div class="row">
                    <div class="col-lg-2 d-flex justify-content-end">
                        <ul class="nav nav-tabs" role="tablist" style="width:92px; height: 92px">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">
                                    <img src="@Model.Product.ImageUrl1" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">
                                        <img src="@Model.Product.ImageUrl2" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">
                                        <img src="@Model.Product.ImageUrl3" alt="">
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-4" role="tab">
                                        <img src="@Model.Product.ImageUrl4" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                <div class="col-lg-6">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="product__details__pic__item">
                                <img src="@Model.Product.ImageUrl1" alt="">
                            </div>
                        </div>
                            <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="@Model.Product.ImageUrl2" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="@Model.Product.ImageUrl3" alt="">
                                </div>
                            </div>
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="product__details__pic__item">
                                    <img src="@Model.Product.ImageUrl4" alt="">
                                    <a href="https://www.youtube.com/watch?v=8PJ3_p7VqHw&list=RD8PJ3_p7VqHw&start_radio=1" class="video-popup"><i class="fa fa-play"></i></a>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4">
                        <div class="row d-flex justify-content-center ps-5">
                            <div class="col-lg-12">
                                <div class="product__details__text text-start">
                                    <h4>@Model.Product.Title</h4>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star-o"></i>
                                        <span> - 5 Reviews</span>
                                    </div>
                                    <h3>@Model.Product.PriceDiscount.ToString("#,##0") VND <span>@Model.Product.Price.ToString("#,##0") VND</span></h3>
                                    <div class="product__details__option">
                                        <div class="product__details__option__size">
                                            <span>Size:</span>
                                            <label for="xxl">
                                                xxl
                                                <input type="radio" id="xxl">
                                            </label>
                                            <label class="active" for="xl">
                                                xl
                                                <input type="radio" id="xl">
                                            </label>
                                            <label for="l">
                                                l
                                                <input type="radio" id="l">
                                            </label>
                                            <label for="sm">
                                                s
                                                <input type="radio" id="sm">
                                            </label>
                                        </div>
                                        <div class="product__details__option__color">
                                            <span>Color:</span>
                                            <label class="c-1" for="sp-1">
                                                <input type="radio" id="sp-1">
                                            </label>
                                            <label class="c-2" for="sp-2">
                                                <input type="radio" id="sp-2">
                                            </label>
                                            <label class="c-3" for="sp-3">
                                                <input type="radio" id="sp-3">
                                            </label>
                                            <label class="c-4" for="sp-4">
                                                <input type="radio" id="sp-4">
                                            </label>
                                            <label class="c-9" for="sp-9">
                                                <input type="radio" id="sp-9">
                                            </label>
                                        </div>
                                    </div>
                                    <div class="product__details__cart__option">
                                        <div class="quantity">
                                            <div class="pro-qty">
                                                <input type="number" value="1" asp-for="Count">
                                            </div>
                                        </div>
                                        <button type="submit"
                                                class="btn btn-primary">
                                            Add to Cart
                                        </button>
                                    </div>
                                    <div>
                                        @Html.Raw(Model.Product.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div class="product__details__content">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product__details__tab">
                            <h3 class="text-center"><strong>Mô tả chi tiết</strong></h3>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-5" role="tabpanel">
                                <div class="product__details__tab__content">
                                        @Html.Raw(Model.Product.DescriptionDetail)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</form>
<!-- Shop Details Section End -->
<!-- Related Section Begin -->
<section class="related spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="related-title">Sản phẩm liên quan</h3>
            </div>
        </div>
        <div class="row">
            @foreach (var product in ViewBag.RelatedProducts)
            {
                <div class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <div>
                            <a asp-action="Details" asp-route-productId="@product.Id"><img src="@product.ImageUrl1" /></a>
                        </div>
                        <div class="product__item__text">
                            <h6>@product.Title</h6>
                            <a href="#" class="add-cart text-decoration-none">+ Thêm nhanh vào giỏ hàng</a>
                            <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div>
                            <h5>@product.Price.ToString("#,##0") VND</h5>
                            <div class="product__color__select">
                                <label for="pc-1">
                                    <input type="radio" id="pc-1">
                                </label>
                                <label class="active black" for="pc-2">
                                    <input type="radio" id="pc-2">
                                </label>
                                <label class="grey" for="pc-3">
                                    <input type="radio" id="pc-3">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>